*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #0f0f0f;
	text-align: center;
	background-size: cover;
	font-family: 'BebasNeueRegular', Bebas Neue;
	height: 100%;
	background-attachment: fixed;
}
.header{
	padding: 15px 35px;
	display: inline-block;
	width: 100%;
}
img{
	max-width: 100%;
}
.menu{
	float: right;
}
.menu ul li{
	display: inline-block;
	float: left;
	line-height: 28px;
	margin-top: 15px;
}
.menu ul li a{
	text-decoration: none;
	color: #f4f4f4;
	font-size: 24px;
	padding: 5px 20px;
	letter-spacing: 5px;
}
.menu ul li a:hover{
	color: #777c1d;
}



img{
	max-width: 100%;
}




form{
	margin-top: 66px;
}

.form-control{
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #182a25;
	font-size: 18px;
	margin-bottom: 16px; 
}

input{
	height: 45px;
}

form .submit{
	background-color: #182a25;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
	transition: 0.4s ease;
}

form .submit:hover{
	background-color: #777c1d;
	cursor: pointer;
}
